In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
df=pd.read_csv('diabetes_prediction_dataset.csv')
print(df.head()),df.shape

   gender   age  hypertension  heart_disease smoking_history    bmi  \
0  Female  80.0             0              1           never  25.19
1  Female  54.0             0              0         No Info  27.32
2    Male  28.0             0              0           never  27.32
3  Female  36.0             0              0         current  23.45
4    Male  76.0             1              1         current  20.14

   HbA1c_level  blood_glucose_level  diabetes
0          6.6                  140         0
1          6.6                   80         0
2          5.7                  158         0
3          5.0                  155         0
4          4.8                  155         0

(None, (100000, 9))

In [7]:
colmns=df.columns
for cols in colmns:
    print(f'{cols}-->{df[cols].unique()}')

gender-->['Female' 'Male' 'Other']
age-->[80.   54.   28.   36.   76.   20.   44.   79.   42.   32.   53.   78.
 67.   15.   37.   40.    5.   69.   72.    4.   30.   45.   43.   50.
 41.   26.   34.   73.   77.   66.   29.   60.   38.    3.   57.   74.
 19.   46.   21.   59.   27.   13.   56.    2.    7.   11.    6.   55.
  9.   62.   47.   12.   68.   75.   22.   58.   18.   24.   17.   25.
  0.08 33.   16.   61.   31.    8.   49.   39.   65.   14.   70.    0.56
 48.   51.   71.    0.88 64.   63.   52.    0.16 10.   35.   23.    0.64
  1.16  1.64  0.72  1.88  1.32  0.8   1.24  1.    1.8   0.48  1.56  1.08
  0.24  1.4   0.4   0.32  1.72  1.48]
hypertension-->[0 1]
heart_disease-->[1 0]
smoking_history-->['never' 'No Info' 'current' 'former' 'ever' 'not current']
bmi-->[25.19 27.32 23.45 ... 59.42 44.39 60.52]
HbA1c_level-->[6.6 5.7 5.  4.8 6.5 6.1 6.  5.8 3.5 6.2 4.  4.5 9.  7.  8.8 8.2 7.5 6.8]
blood_glucose_level-->[140  80 158 155  85 200 145 100 130 160 126 159  90 260 220 300 280 240]
diabetes-->[0 1]

In [8]:
df.isnull().sum()

gender                 0
age                    0
hypertension           0
heart_disease          0
smoking_history        0
bmi                    0
HbA1c_level            0
blood_glucose_level    0
diabetes               0
dtype: int64

In [15]:
df.duplicated().sum()
df1=df.drop_duplicates(inplace=True)

In [16]:
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [18]:
df.diabetes.value_counts()

0    87664
1     8482
Name: diabetes, dtype: int64

In [21]:
categorical_col= df.select_dtypes('object').columns

In [40]:
df1=pd.get_dummies(df,columns=categorical_col,drop_first=True)
df1.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,diabetes,gender_Male,gender_Other,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,80.0,0,1,25.19,6.6,140,0,0,0,0,0,0,1,0
1,54.0,0,0,27.32,6.6,80,0,0,0,0,0,0,0,0
2,28.0,0,0,27.32,5.7,158,0,1,0,0,0,0,1,0
3,36.0,0,0,23.45,5.0,155,0,0,0,1,0,0,0,0
4,76.0,1,1,20.14,4.8,155,0,1,0,1,0,0,0,0

In [41]:
X=df1.drop(['diabetes'],axis=1)
y=df1['diabetes']
col_to_scale=[ 'age','bmi', 'HbA1c_level', 'blood_glucose_level']

# SCALING

In [42]:
from sklearn.preprocessing import MinMaxScaler
scalar=MinMaxScaler()
X[col_to_scale]=scalar.fit_transform(X[col_to_scale])

In [43]:
X.head()

,age,hypertension,heart_disease,bmi,HbA1c_level,blood_glucose_level,gender_Male,gender_Other,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,1.000000,0,1,0.177171,0.563636,0.272727,0,0,0,0,0,1,0
1,0.674675,0,0,0.202031,0.563636,0.000000,0,0,0,0,0,0,0
2,0.349349,0,0,0.202031,0.400000,0.354545,1,0,0,0,0,1,0
3,0.449449,0,0,0.156863,0.272727,0.340909,0,0,1,0,0,0,0
4,0.949950,1,1,0.118231,0.236364,0.340909,1,0,1,0,0,0,0

# MODEL TRAINING

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [48]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((67302, 13), (28844, 13), (67302,), (28844,))

# Resampling

In [68]:
from imblearn.combine import SMOTETomek
smt=SMOTETomek(random_state=40)
X_smt,y_smt=smt.fit_resample(X,y)
X_smt.shape,y_smt.shape

((173774, 13), (173774,))

In [69]:
from sklearn.model_selection import train_test_split
X_train_smt, X_test_smt, y_train_smt, y_test_smt = train_test_split(X_smt, y_smt, test_size=0.3, random_state=42)

In [55]:
y_smt.value_counts()

0    60852
1    60852
Name: diabetes, dtype: int64

# MODEL TRAINING AND EVALUATION Without resampling

# LogisticRegression

In [58]:
from sklearn.linear_model import LogisticRegression 
model_rg=LogisticRegression()
model_rg.fit(X_train,y_train)
y_pred=model_rg.predict(X_test)

In [61]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.96      0.99      0.98     26267
           1       0.87      0.63      0.73      2577

    accuracy                           0.96     28844
   macro avg       0.92      0.81      0.85     28844
weighted avg       0.96      0.96      0.96     28844

# DecisionTreeClassifier

In [63]:
from sklearn.tree import DecisionTreeClassifier
model_dt=DecisionTreeClassifier()
model_dt.fit(X_train,y_train)
y_pred=model_dt.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      0.97      0.97     26267
           1       0.71      0.74      0.72      2577

    accuracy                           0.95     28844
   macro avg       0.84      0.86      0.85     28844
weighted avg       0.95      0.95      0.95     28844

# KNeighborsClassifier

In [71]:
from sklearn.neighbors import KNeighborsClassifier
model_kn=KNeighborsClassifier()
model_kn.fit(X_train,y_train)
y_pred=model_kn.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.96      0.99      0.98     26267
           1       0.89      0.62      0.73      2577

    accuracy                           0.96     28844
   macro avg       0.93      0.81      0.85     28844
weighted avg       0.96      0.96      0.96     28844

# RandomForestClassifier

In [67]:
from sklearn.ensemble import RandomForestClassifier
model_rc=RandomForestClassifier(n_estimators=1000)
model_rc.fit(X_train,y_train)
y_pred=model_rc.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98     26267
           1       0.95      0.69      0.80      2577

    accuracy                           0.97     28844
   macro avg       0.96      0.84      0.89     28844
weighted avg       0.97      0.97      0.97     28844

In [66]:
from xgboost import XGBClassifier
model_xg=XGBClassifier()
model_xg.fit(X_train,y_train)
y_pred=model_xg.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.97      1.00      0.98     26267
           1       0.96      0.70      0.81      2577

    accuracy                           0.97     28844
   macro avg       0.97      0.85      0.90     28844
weighted avg       0.97      0.97      0.97     28844

# With resampling

In [70]:
from sklearn.ensemble import RandomForestClassifier
model_rc=RandomForestClassifier(n_estimators=1000)
model_rc.fit(X_train_smt,y_train_smt)
y_pred=model_rc.predict(X_test_smt)
from sklearn.metrics import classification_report
print(classification_report(y_test_smt,y_pred))
# better results with resampling

              precision    recall  f1-score   support

           0       0.98      0.97      0.98     25909
           1       0.97      0.98      0.98     26224

    accuracy                           0.98     52133
   macro avg       0.98      0.98      0.98     52133
weighted avg       0.98      0.98      0.98     52133